@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before{
    border-radius: 0.5rem;
    opacity: 0.45;
}
.nn{
    font-size: 5rem;
    margin: 40px;
    text-align:left;
}
.clear-sh{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.arrow{
    position: absolute;
    bottom: 10;
    right: 20;
}